.Navbar-container {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.385);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  .Navbar-left-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    .left-container {
      display: flex;
      align-items: center;
      cursor: pointer;
      i {
        color: #f7a9a9;
        font-size: 24px;
      }
      .Navbar-logo {
        color: #5d5d81;
        font-size: 24px;
        font-weight: bold;
        padding-left: 5px;
      }
    }
  }
  .Navbar-right-content {
    display: flex;
    align-items: center;
    .Navbar-notification {
      i {
        font-size: 20px;
        color: #777;
      }
      padding-right: 15px;
    }
    .Navbar-cart {
      position: relative;
      cursor: pointer;
      .cart-badge {
        position: absolute;
        top: -8px;
        right: 8px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 7px;
      }
      i {
        font-size: 18px;
        color: #777;
      }
      padding-right: 15px;
    }
    .Navbar-user-container {
      position: relative;
      .Navbar-user {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #777;
        cursor: pointer;
        i {
          color: white;
        }
      }
      .Dropdown-user {
        position: absolute;
        list-style: none;
        top: 50px;
        right: -50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        padding: 15px 5px;
        background-color: white;
        border-radius: 15px;
        li {
          background-color: #777;
          color: white;
          padding: 5px 15px;
          border: 2px solid white;
          border-radius: 15px;
          cursor: pointer;
          &:hover {
            background-color: #f5f5f5;
          }

          &:active {
            background-color: #ececec;
          }
        }
      }
    }
    .Navbar-login {
      font-weight: 500;
      margin: 5px;
      width: 100px;
      border: 2px solid #777;
      border-radius: 15px;
      padding: 5px;
      text-align: center;
      cursor: pointer;
    }
  }

  .Popup-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    .info {
      display: flex;
      padding: 25px;
      border-bottom: 2px solid #ddd;
      .avt {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: white;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid black;
      }
      .name {
        font-size: 20px;
        font-weight: 600;
        margin-left: 10px;
        align-self: center;
      }
    }
    .Login {
      height: 10%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: end;
      font-size: larger;
      font-weight: bold;
      border-bottom: 2px solid #ddd;
      cursor: pointer;
    }
    .Popup-sidebar-content {
      width: 250px;
      height: 100%;
      background-color: white;
      float: right;
      position: relative;
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
      }
      .Sidebar-Container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .Sidebar-Content {
          text-decoration: none;
          color: #333;
          font-size: 18px;
          padding: 10px 0;
          display: flex;
          align-items: center;
          i {
            margin-right: 10px;
          }
          &:hover {
            background-color: #f0f0f0;
            border-radius: 10px;
            padding-left: 10px;
            transition: all 0.3s ease;
          }
        }
      }
    }

    .Logout {
      height: 10%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: end;
      font-size: larger;
      border-bottom: 2px solid #ddd;
      border-top: 2px solid #ddd;
      cursor: pointer;
      display: flex;
      align-items: center;
      i {
        margin-left: 10px;
      }
    }
  }
}
