.Navbar-container {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.385);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  .Navbar-left-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    i {
      color: #f7a9a9;
      font-size: 24px;
    }
    .Navbar-logo {
      color: #5d5d81;
      font-size: 24px;
      font-weight: bold;
      padding-left: 5px;
    }
  }
  .Navbar-right-content {
    display: flex;
    align-items: center;
    .Navbar-notification {
      i {
        font-size: 20px;
        color: #777;
      }
      padding-right: 10px;
    }
    .Navbar-user-container {
      position: relative;
      .Navbar-user {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #777;
        cursor: pointer;
        i {
          color: white;
        }
      }
      .Dropdown-user {
        position: absolute;
        list-style: none;
        top: 50px;
        right: -50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        padding: 15px 5px;
        background-color: white;
        border-radius: 15px;
        li {
          background-color: #777;
          color: white;
          padding: 5px 15px;
          border: 2px solid white;
          border-radius: 15px;
          cursor: pointer;
          &:hover {
            background-color: #f5f5f5;
          }

          &:active {
            background-color: #ececec;
          }
        }
      }
    }
    .Navbar-login {
      font-weight: 500;
      margin: 5px;
      width: 100px;
      border: 2px solid #777;
      border-radius: 15px;
      padding: 5px;
      text-align: center;
      cursor: pointer;
    }
  }
}
