.Partner {
  border-radius: 15px;
  margin-top: 10px;
  &:hover {
    border: 1px solid pink;
  }
  .Container-info {
    display: flex;
    align-items: center;

    .avt {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      margin: 5px;
      padding: 10px;
      border: 1px solid black;
    }
    .name {
      font-size: larger;
      font-weight: 500;
    }
    i {
      color: pink;
      margin-left: 5px;
      text-align: center;
      animation: moveUpDown 3s ease-in-out infinite;
    }
  }

  .act {
    display: flex;
    justify-content: center;
    margin: 5px;
    gap: 15px;
    .add-partner {
      padding: 5px 10px;
      background-color: green;
      border-radius: 15px;
    }
    .unfriend {
      padding: 5px 10px;
      background-color: red;
      border-radius: 15px;
    }
  }
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
