.Dashboard-counter {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  .title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
    padding: 15px 0;
    font-weight: 500;
    .underline {
      width: 80px;
      height: 2px;
      background-color: gray;
      margin: 8px auto 0 auto;
      border-radius: 2px;
    }
  }
  .Counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #collapsePopup {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
      .Date {
        height: 200px;
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        width: 70%;
        .Cancel {
          i {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
            color: gray;
          }
        }

        .Date-container {
          width: 100%;
          height: 100%;
          b {
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .Date-input {
            width: 100%;
            padding: 10px;
            input {
              margin: 10px 0;
              margin-bottom: 15px;
            }
          }
        }
      }
    }

    .Day-counter {
      font-size: 50px;
      font-weight: 600;
      color: #5d5d81;
    }
    span {
      color: pink;
      font-size: large;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 20px 0;
    .user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        height: 100px;
        width: 100px;
        border: 1px solid gray;
        border-radius: 50%;
        padding: 2px;
      }
    }
    .mid-user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
      font-size: 18px;
      font-weight: 500;
      i.fa-heart {
        font-size: 30px;
        color: pink;
        margin: 10px 0;
        animation: moveUpDown 3s ease-in-out infinite;
      }
    }
    .partner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        height: 100px;
        width: 100px;
        border: 1px solid gray;
        border-radius: 50%;
        padding: 2px;
      }
    }
  }

  .detail-date {
    width: 80%;

    border: 2px solid pink;
    border-radius: 10px;
    display: flex;
    position: relative;
    padding: 20px;
    background-color: white;
    .date-content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      .block-date {
        width: 25%;
        border: 2px solid pink;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
    .now-date {
      position: absolute;
      bottom: -15px;
      left: 20px;
      border: 2px solid pink;
      padding: 2px;
      border-radius: 5px;
      background-color: white;
    }
    .time {
      position: absolute;
      bottom: -15px;
      right: 20px;
      padding: 2px 5px;
      border-radius: 5px;
      background-color: #e0f2f7;
    }
  }

  .journey {
    display: flex;
    flex-direction: column;
    align-items: center;
    .line {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .mid {
        border-radius: 15px;
        width: 35%;
        height: 2px;
        background-color: gray;
        opacity: 0.5;
        margin: 0 10px;
      }
      i.fa-heart {
        font-size: 20px;
        color: pink;
        animation: moveUpDown 3s ease-in-out infinite;
      }
    }
  }
  .date {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
    font-weight: 500;
    padding-bottom: 50px;
  }
  .notification {
    margin: 30px;
    font-size: 14px;
    color: #555;
    font-style: italic;
    text-align: center;
    padding: 10px;
    border: 2px dashed pink;
  }
}
@media (min-width: 768px) {
  .Dashboard-counter {
    background: white;
  }
}
