.Dashboard-counter {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 100px;
      width: 100px;
      border: 1px solid black;
      border-radius: 50%;
      padding: 10px;
    }
  }
  .Counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #collapsePopup {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
      .Date {
        height: 200px;
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        width: 70%;
        .Cancel {
          i {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
            color: gray;
          }
        }

        .Date-container {
          width: 100%;
          height: 100%;
          b {
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .Date-input {
            width: 100%;
            padding: 10px;
            input {
              margin: 10px 0;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
    .Heart {
      i {
        font-size: 40px;
        color: pink;
        animation: moveUpDown 3s ease-in-out infinite;
      }
    }
    .Day-counter {
      font-size: 50px;
      font-weight: 600;
      color: #5d5d81;
    }
    span {
      color: #777;
    }
  }
  .partner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 100px;
      width: 100px;
      border: 1px solid black;
      border-radius: 50%;
      padding: 10px;
    }
  }
}
