.F-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
  .F-avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
  }
  .F-name {
    font-weight: 500;
    font-size: large;
    margin-left: 10px;
  }
}
