.Suggest-container {
  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    .pile {
      gap: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .avt {
        height: 50px;
        width: 50px;
        border: 1px solid black;
        border-radius: 50%;
        padding: 2px;
      }
      .name {
        font-weight: bold;
      }
    }
    .partner {
      font-size: medium;
    }
    .act {
      display: flex;
      gap: 10px;
      .add {
        background-color: green;
        padding: 3px 10px;
        border-radius: 10px;
        cursor: pointer;
      }
      .next {
        padding: 3px 10px;
        border-radius: 10px;
        background-color: red;
        cursor: pointer;
      }
    }
  }
}
