.Chatting-container {
  height: 92vh;
  width: 100%;
  background-color: #f5f5f7;
  .Chatting-left {
    display: flex;
    justify-content: end;
  }
  .Chatting-mid {
    .message-top {
      width: 100%;
      background-color: rgb(248 187 208);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 15px 15px 0 0;
      padding: 15px 0;
      .left {
        margin: 0 10px;
      }
      .right {
        i {
          margin: 0 10px;
        }
      }
    }
    .message-bottom {
      background-color: rgb(248 187 208);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 0 15px 15px;

      input {
        width: 80%;
        border-radius: 15px;
        margin: 10px;
        padding: 5px;
      }
      button {
        border: none;
        height: 70%;
        padding: 5px 10px;
        border-radius: 15px;
        &:active {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    .friend-list {
      padding: 15px;
      .info {
        border-radius: 5px;
        padding: 3px;
        display: flex;
        width: 100%;
        margin: 5px 0;
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
          padding: 2px;
          border: 1px solid black;
        }
        .name-status {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .name {
            margin-right: 10px;
            font-size: larger;
            font-weight: bold;
          }
          .status {
            display: flex;
            align-items: center;
            .dot {
              margin-left: 10px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }
          }
        }
      }
    }
    .Message-box {
      height: 73vh;
      overflow-y: auto;
      padding: 15px 10px;
      scroll-behavior: smooth;
      background-color: white;
      .Message {
        color: green;
      }
    }
  }
  .Chatting-right {
    display: flex;
    flex-direction: column;
    .Online-users {
      width: 70%;
      background-color: #ffff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
      background-color: white;
      border-radius: 15px;
      margin-left: 15px;
      padding: 15px;
      .info {
        border-radius: 5px;
        padding: 3px;
        display: flex;
        margin: 5px 0;
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
          padding: 2px;
          border: 1px solid black;
        }
        .name-status {
          .status {
            display: flex;
            align-items: center;
            .dot {
              margin-left: 50px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }
          }
        }
      }
    }
    .partner-info {
      width: 70%;
      background-color: pink;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
      border-radius: 15px;
      margin-left: 15px;
      padding: 15px;
      margin-bottom: 10px;
      b {
        color: #9d174d;
      }
      .info {
        border-radius: 5px;
        padding: 3px;
        display: flex;
        margin: 5px 0;
        &:hover {
          background-color: rgba(255, 0, 0, 0.05);
          border: 1px solid rgba(255, 0, 0, 0.1);
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
          padding: 2px;
          border: 2px solid white;
        }
        .name-status {
          .name {
            color: #9d174d;
          }
          .status {
            display: flex;
            align-items: center;
            .dot {
              margin-left: 50px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
