.Edit-profile-container {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .Edit-profile-content {
    padding: 10px;
    width: 90%;
    // height: 400px;
    border: 1px solid black;
    .avatar {
      position: relative;
      height: 80px;
      width: 80px;
      margin: 20px auto;
      img {
        height: 100%;
        width: 100%;
        border: 2px solid black;
        border-radius: 50%;
        margin: 3px;
      }
      i {
        position: absolute;
        right: 0;
        top: 0;
        font-size: larger;
        cursor: pointer;
      }
    }
  }
}
@media (min-width: 768px) {
  .Edit-profile-content {
    width: 40% !important;
  }
}
