.AddFriends-container {
  height: 92vh;
  width: 100%;
  background-color: #f5f5f7;
  .Left-content {
    display: flex;
    justify-content: end;
  }
  .Mid-content {
    .F-Catalog {
      list-style: none;
      padding: 0;
      li {
        padding: 3px 15px;
        border: 1px solid pink;
        margin-right: 5px;
        border-radius: 15px;
        font-weight: bold;
        color: pink;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
          background-color: #ff8fa3;
          color: #ffffff;
        }
        &.active {
          background-color: #ff8fa3;
          color: #ffffff;
          border-color: white;
        }
      }
    }
  }
  .Right-content {
    .List {
      width: 80%;
      min-height: 500px;
      background-color: white;
      border-radius: 15px;
      padding: 15px;
      cursor: pointer;
    }
  }
}
