.Location-container {
  height: 92vh;
  width: 100%;
  background-color: #f5f5f7;
  .Location-left {
    display: flex;
    justify-content: end;
  }
  .Location-mid {
    height: 500px; /* chiều cao cố định cho map */
    width: 100%;
  }

  .leaflet-container {
    height: 100%;
    width: 100%;
  }
}
