.Location-container {
  height: 92vh;
  width: 100%;
  background-color: #f5f5f7;
  .Location-left {
    display: flex;
    justify-content: end;
  }
  .Location-mid {
    .wrap-map {
      position: relative;
      width: 100%;
      height: 88vh;
      border: 2px solid black;
      .map {
        width: 100%;
        height: 100%;
      }
    }
  }

  .leaflet-container {
    height: 100%;
    width: 100%;
  }
}
