.Profile-container {
  height: 92vh;
  width: 100%;
  background-color: white;
  .Profile-header {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 70%;
    .cover-img {
      width: 100%;
      height: 30%;
      background-color: #f5f5f7;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      @media (min-width: 768px) {
        width: 65%;
        height: 70%;
      }
    }
    .Profile-info {
      width: 100%;
      display: flex;
      justify-content: start;
      border-bottom: 1px solid lightgray;
      @media (min-width: 768px) {
        width: 65%;
      }
      .Profile-avt-name {
        position: relative;
        top: -20%;
        display: flex;
        align-items: end;
        margin: 0 10px;
        @media (min-width: 768px) {
          margin: 0 50px;
        }
        .Profile-avt {
          background-color: white;
          height: 120px;
          width: 120px;
          border-radius: 50%;
          border: 1px solid black;
          margin-right: 15px;
        }
        .name-totalFriends {
          .Profile-name {
            margin-bottom: 0;
          }
          .totalFriends {
            font-size: 14px;
            color: gray;
            font-weight: 500;
          }
        }
      }
    }
  }
}
