.Profile-container {
  height: 92vh;
  width: 100%;
  background-color: white;
  .Profile-header {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 70%;
    .cover-img {
      width: 100%;
      height: 30%;
      background-color: #f5f5f7;
      @media (min-width: 768px) {
        width: 65%;
        height: 50%;
      }
    }
    .Profile-info {
      display: flex;
      align-items: center;
      .Profile-avt {
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 1px solid black;
        top: -30%;
        margin-right: 15px;
      }
      .name-totalFriends {
        .Profile-name {
          margin-bottom: 0;
        }
        .totalFriends {
          font-size: 14px;
          color: gray;
          font-weight: 500;
        }
      }
    }
  }
}
