.Shop-container {
  .Shop-content {
    height: 92vh;
    background-color: #f5f5f7;
    .Left-content {
      display: flex;
      justify-content: end;
    }
    .Mid-content {
      overflow: auto;
      max-height: 90vh;

      .Header {
        min-height: 200px;
        border: 1px solid red;
        margin-bottom: 10px;
        background-image: url("../assets/banner.png");
        background-repeat: repeat;

        background-size: contain;
        background-position: center;
      }
      .Search {
        padding: 5px;
        border: 1px solid red;
        margin-bottom: 10px;
      }
      .Products {
        min-height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .Right-content {
      .Cart {
        width: 90%;
        height: 45%;
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .Title {
          width: 100%;
          padding: 10px;
          display: flex;
          align-items: center;
          font-size: larger;
          font-weight: 500;
        }
        .Products-cart {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          .Product-cart {
            width: 95%;
            height: 80px;
            border: 1px solid red;
            display: flex;
            .Picture {
              width: 30%;
              height: 100%;
              background-color: black;
            }
            .Info {
              margin-left: 5px;
              .Name {
                font-size: large;
                font-weight: 500;
              }
            }
          }
        }
        .Payment {
          width: 50%;
          height: 50px;
          padding: 15px;
          display: flex;
          justify-content: center;
          border: 1px solid red;
          margin-top: 20px;
        }
      }
    }
  }
}
