.Shop-container {
  .Shop-content {
    height: 92vh;
    background-color: #f5f5f7;
    .Left-content {
      display: flex;
      justify-content: end;
    }
    .Mid-content {
      overflow: auto;
      max-height: 90vh;

      .Header {
        min-height: 200px;
        border: 1px solid red;
        margin-bottom: 10px;
        background-image: url("../assets/banner.png");
        background-repeat: repeat;
        background-size: contain;
        background-position: center;
      }
      .Search {
        padding: 5px;
        border: 1px solid red;
        margin-bottom: 10px;
      }
      .Products {
        min-height: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
    .Right-content {
      .Cart {
        width: 90%;
        max-height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid pink;
        .Title {
          width: 100%;
          padding: 10px;
          display: flex;
          align-items: center;
          font-size: larger;
          font-weight: 500;
          flex-shrink: 0;
          border-bottom: 1px solid rgba(128, 128, 128, 0.488);
        }
        .Products-cart {
          flex-grow: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          overflow: auto;
          .Product-cart {
            width: 95%;
            display: flex;
            margin: 5px 0;
            border-bottom: 1px solid rgba(128, 128, 128, 0.488);

            .Picture {
              width: 60px;
              height: 60px;
              background-color: black;
            }
            .Info {
              margin-left: 5px;
              .Name {
                width: 200px;
                font-size: medium;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .Price {
                font-size: smaller;
                font-weight: 500;
              }
            }
          }
        }
        .Payment {
          border-top: 1px solid rgba(128, 128, 128, 0.488);
          flex-shrink: 0;
          display: flex;
          font-size: medium;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-top: 5px;
          padding: 10px;
          .action-payment {
            margin-left: 10px;
            padding: 5px 10px;
            background-color: pink;
            color: white;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
