.Shop-container {
  .Shop-content {
    height: 100vh;
    background-color: #f5f5f7;
    .Left-content {
      display: flex;
      justify-content: end;
    }
    .Mid-content {
      .Header {
        min-height: 200px;
        border: 1px solid red;
        margin-bottom: 10px;
      }
      .Search {
        padding: 5px;
        border: 1px solid red;
        margin-bottom: 10px;
      }
      .Products {
        min-height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Product {
          height: 250px;
          width: 30%;
          border: 1px solid green;
          padding: 10px;
          .Picture {
            height: 70%;
            background-color: black;
          }
          .Name {
          }
          .Rate {
            b {
              color: rgb(255, 221, 0);
            }
          }
        }
      }
    }
    .Right-content {
      .Cart {
        width: 90%;
        height: 45%;
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .Title {
          width: 100%;
          padding: 10px;
          display: flex;
          align-items: center;
          font-size: larger;
          font-weight: 500;
        }
        .Products {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          .Product {
            width: 95%;
            height: 80px;
            border: 1px solid red;
            display: flex;
            .Picture {
              width: 30%;
              height: 100%;
              background-color: black;
            }
            .Info {
              margin-left: 5px;
              .Name {
                font-size: large;
                font-weight: 500;
              }
            }
          }
        }
        .Payment {
          width: 50%;
          height: 50px;
          padding: 15px;
          display: flex;
          justify-content: center;
          border: 1px solid red;
          margin-top: 20px;
        }
      }
    }
  }
}
