.Product {
  height: 300px;
  border: 1px solid green;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  .Picture {
    height: 60%;
    width: 100%;
    background-color: black;
  }
  .Info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    .Name {
      font-weight: bold;
      font-size: smaller;
    }
    .Rate {
      b {
        color: rgb(255, 221, 0);
      }
    }
  }
}
