.ProductDetail-container {
  height: 92vh;
  background-color: #f5f5f7;
  display: flex;
  align-items: center;
  .content-detail-product {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    .img {
      height: 50%;
      width: 100%;
      margin-right: 30px;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
      position: relative;
      .backToShop {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
        cursor: pointer;
        background-color: white;
        color: gray;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
    }

    .info {
      .set-quantity {
        display: flex;
        b {
          margin-right: 10px;
        }
        .plus,
        .minus {
          width: 30px;
          border: 1px solid #ccc;
          text-align: center;
        }
        .quantity {
          width: 50px;
          text-align: center;
          border: 1px solid #ccc;
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .content-detail-product {
    width: 80% !important;
    height: 90% !important;
    .img {
      height: 90% !important;
      width: 40% !important;
    }
  }
}
