.ProductDetail-container {
  height: 92vh;
  background-color: #f5f5f7;
  display: flex;
  align-items: center;
  .content {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    .img {
      height: 90%;
      width: 100%;

      margin-right: 30px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .info {
      .set-quantity {
        display: flex;
        b {
          margin-right: 10px;
        }
        .plus,
        .minus {
          width: 30px;
          border: 1px solid #ccc;
          text-align: center;
        }
        .quantity {
          width: 50px;
          text-align: center;
          border: 1px solid #ccc;
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .img {
    width: 40% !important;
  }
}
